<h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>
<!-- we create a form with the action of "/test/submit", a route we just set up
we create the method of -->
<form action="/test/submit" method="post">
  <input type="text" name="id">
  <button type="submit">Submit</button>
