<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- using triple curly braces says "render the html content, not only html text" -->

    <!-- body is not freely chosen or an optional name. It is designated by hbs engine. -->
    {{{body}}}
  </body>
</html>
